*{ box-sizing: border-box;}

body{
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center; 
}

main{
    width: 1250px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0 5rem;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 435px;
    margin-top: 30px;
    width: 100%;
}

.image-container{
   width: 100%;
    display: flex;
    overflow: hidden;
    position: relative;
}

.column{
    width: 70%;
    height: 435px;
    overflow: hidden;
    margin-right:8px
}

.column2{
    width: 30%;
    overflow: hidden;
}

.first-image{
    height: 100%;
    position: relative;
    overflow: hidden;
}

.second-image{
    width: 100%;
    height: 213px;
    overflow: hidden;
    position: relative;
    margin-bottom: 8px;
}

.third-image{
    height: 213px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.group{ border-radius: 8px;}

img{
    width: 100%;
    height: 100%;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    object-fit: cover;
}

.image-count{
    position: absolute;
    z-index: 2;
    bottom: 16px;
    right: 20px;
    font-size: 12px;
    background: white;
    padding: 10px;
    width: 75px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
}

.image-count i{
    margin-right: 4px;
}

.hover-container{
    display: none;
    height: 450px;
    z-index: 2;
}

.container:hover .hover-container{
    display: block;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
}

.hover-container button{
    background: transparent;
    height: 100%;
    border: 0;
    position: absolute;
}

.hover-container button.left{
    background: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, rgba(0,0,0,0.75) 100%);
    left:0px;
    padding: 0 30px;
    overflow: hidden;
    border-radius: 10px;
}

.hover-container button.right{
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.75) 100%);
    right: 8px;
    padding: 0 30px;
    border-radius: 10px;
}

.hover-container button i{
    font-size: 30px;
    color: #fff;
}

@media only screen and (max-width: 1050px)  {
    main{
        width: 80%; 
        padding: 0 2rem;
    }

    .container{
        height: 100%;
    }

    .column2{
        display: none;
    }
      
    .column{
        width: 100%;
        height: 50vw;
    }
}
